@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f4edea;
  --secondary-color: #c5d8d1;
  --tertiary-color: #06bcc1;

  --dark-primary-color: #000000;
  --dark-secondary-color: #14213d;
  --dark-tertiary-color: #fca311;

  --font-inter: "Inter";
  --font-spaceGrotesk: "SpaceGrotesk";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html.dark {
  --primary-color: var(--dark-primary-color);
  --secondary-color: var(--dark-secondary-color);
  --tertiary-color: var(--dark-tertiary-color);
}

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
